<h1>落合南長崎コート情報</h1>
<div class="center hero-unit">
<table class="table table-striped">
<thead>
  <th width="20%">イベント名称</th>
  <th width="20%">日時</th>
  <th width="20%">募集人数</th>
  <th width="20%">残り</th>
</thead>
<tbody>
<% @events.each do |event| %>
  <tr>
    <td><%= event.name %></td>
    <td><%= event.start_date %></td>
    <td><%= event.participants %></td>
    <td><%= event.unoccupied_seats %></td>
  </tr>
<% end %>
</tbody>
</table>
</div>
