<h1>コート</h1>
<div class="center hero-unit">
<table class="table table-striped">
<thead>
  <th width="20%">場所</th>
  <th width="20%">住所</th>
  <th width="20%">料金</th>
</thead>
<tbody>
	<tr><td><%= link_to "落合南長崎", ochiai_path %></td><td>東京都豊島区南長崎４−５−20 アイテラス５F</td><td>1300円~</td></tr>
<tr><td><a href='#'>池袋</a></td><td>東京都豊島区東池袋1-5-7ヤマダ電機ＬＡＢＩ１日本総本店池袋屋上</td><td>1030円~</td></tr>
<tr><td><a href='#'>渋谷</a></td><td>東京都渋谷区渋谷2-24-1</td><td>1030円~</td></tr>
<tr><td><%= link_to "豊島園", toshimaen_path %></td><td>東京都練馬区向山3-25-1としまえん屋内館</td><td>520円~</td></tr>
<tr><td><%= link_to "練馬", nerima_path %></td><td>東京都練馬区田柄1-5-8</td><td>1100円~</td></tr>
</tbody>
</table>
</div>